.headline {
    text-align: center;
    line-height: 200%;
    font-size: 5em;
    color: #ddd;
}

.header {
    width: 100%;
    background-color: #222;
}

button {
    position: relative;
    left: 5%;
    width: 90%;
    padding: 5%;
    font-size: 2em;
    color: #222;
    background-color: #fff;
    border: dotted #ddd;
}
